body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal; /* Es la fuente 400 */
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5em; /* alto de linea 1 es 100% y .5 es el 50% entonces 150%*/
  letter-spacing: -.2px; /* Espaciado un 20% de un pixel menos*/
  color: white;
  /* text-transform: uppercase; */
  /* text-decoration: underline; */
}

h1 strong {
  color: #026fff;
}

.hero {
  height: 300px;
  background-image: url('../images/hero.jpg'); /* poner una imagen de background */
  background-color: #1b2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.portfolio {
  background: #fafafa;
}

.project {
  /* border-top: 10px solid tomato;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* border-top-color: tomato;
  border-top-width: 15px;
  border-top-style: solid; */
  margin: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 50px; */
  margin-bottom: 15px;
  padding: 20px;
  background: white;
}

.project-datails {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}

/*------------------------------------*\
  #INIT SECTION HEADER
\*------------------------------------*/
.header {
  background-color: #1b2127;
  color: white;
  display: flex; /* flexbox */
  height: 90px; /* damos al header un alto fijo de 90px*/
  /* align-items: center; */
  justify-content: space-between; /* para poner los elementos al lado del otro sin espacio*/
}

ol, li {
  margin: 0; /* quitar los margenes de ul y ol*/
  padding: 0; /* quitar los padding de ul y ol*/
  list-style: none; /* para quitar los numeros de la ol */
  display: flex; /* para poner que los elementos se alinen de forma row del display */
  height: inherit; /* hereda el alto de 90px del header */
}

figure {
  margin: 0; /*quitar los margenes a figure*/
}

.menu {
  display: flex; /* para que menu le pueda heredar a ol y a li*/
  height: inherit; /* para que le herede a los ol el ancho de 90px del header*/
}
.header a {
  /* display: block; */
  color: white;
  text-decoration: none;
  display: flex; /* display flex de las anclas */
  align-items: center; /* para que centren los elementos*/
  height: inherit; /* para que los elementos a hereden los 90px */
  padding: 0 10px;
}
/*------------------------------------*\
  #END SECTION HEADER
\*------------------------------------*/
