/* Estilo del header haciendo uso de flex */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xeuc5g');
  src:  url('../fonts/icomoon.eot?xeuc5g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xeuc5g') format('truetype'),
    url('../fonts/icomoon.woff?xeuc5g') format('woff'),
    url('../fonts/icomoon.svg?xeuc5g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:#026fff;
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  left: 6px;
  top: 15px;
  z-index: 10;
  color: #fff;
  /* font-size: 50px; */
}


/*__________Globals styles*/
body {
  margin: 0;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}

h1{
  font-size: 2.3em;
  padding: 0 30px;
  color: white;
  /* letter-spacing: 2px; */
  line-height: 1.6;
  box-sizing: border-box;
  /* width: 50%; */
}

h1 strong{
  color: #0c60d9;
}
/*__________End Globals styles*/

/*__________Main container styles*/
.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}
/*__________End Main container styles*/

/*__________Header*/
header {
  background: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* flex: 1; */
  height: 70px;
  position: fixed;
  box-shadow: 0 10px 10px 0px rgba(5, 5, 5, 0.4);
  z-index: 3;
  /* width: 1024px; */
  max-width: 1024px;
  width: 100%;
}

.anchor-inicio {
  position: absolute;
  /* border: 1px solid red; */
}

.logo img {
  height: 70px;
  padding: 0 0 0 20px;
}

.menu {
  height: inherit;
}

.menu ul {
  height: inherit;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  display: flex;
  align-items: center;
  list-style: none;
  height: inherit;
  width: auto;
}

.menu a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  height: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  padding: 0 10px;
}


.work2 {
  padding: 0px 20px 0px 10px;
}

.work2 a {
  padding: 0.3em 1em 0.3em 1em;
  border: 1px solid;
  border-radius: 4px;
  height: initial;
}
/*__________End header*/

.anchor-space {
  display: flex;
  padding-top: 50px;
}

/*__________Hero*/
.hero {
  display: flex;
  background-color: #1d252c;
  margin-top: 0;
  height: 380px;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* padding-top: 70px; */
}

.hero-left-container {
  width: 50%;
  height: 100%;
}

.hero-right-container {
  /* overflow: hidden; */
  width: 50%;
  height: 100%;
}


.hero-right-container img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: skew(6deg); */
  /* right:16px; */
  left: 1px;
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 1% 100%);
  padding-right: 1px;
}
/*__________End Hero*/

/*__________Portfolio*/
.portfolio{
  background-color: #fafafa;
  padding: 20px;
  padding-bottom: 10px;
  padding-left: 0;
}

.anchor-portfolio { /*anchor for styky header*/
  position: relative;
  /* border: 1px solid red; */
  top: -50px;
}

.portfolio-title{
  color: #026fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  /* padding-left: 25px; */
  margin-top: 26px;
  margin-bottom: 46px;
}

.projects-container {
  padding-left: 20px;
}

.project{
  padding: 26px;
  background-color: white;
  box-shadow: 0px 0px 15px 1px rgba(224, 224, 224,1);
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project div{
  width: 48%;
}

.project-left-content{
  text-align: left;
  /* width: 50%; */
}

.project-right-content{
  text-align: right;
  /* width: 50%; */
}

.project-title{
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.project-stack{
  margin-top: 0;
  margin-bottom: 0.7em;
  color: #717171;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.project-date{
  margin-top: 0;
  margin-bottom: 0.6em;
}

.project-date span{
  color: #717171;
}

.project-url{
  margin-top: 0;
}

.project-url a{
  color: #717171;
}

.project-description{
  margin-top: 1.8em;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 600;
}

.project-right-content img{
  max-width: 100%;
}
/*__________End Portfolio*/

/*__________Experience*/
.experience{
  background-color: #fafafa;
  padding: 20px;
  padding-top: 15px;
  padding-left: 0;
}

.anchor-experience { /* anchor for stcky header*/
  position: relative;
  /* border: 1px solid red; */
  top: -65px;
}

.experience-title{
  color: #026fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 46px;
}

.experience-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
}

.article-card{
  width: 47%;
  background-color: #f4fbff;
  height: 100%;
  margin: 10px auto;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 1px rgba(224, 224, 224,1);
}

.article-card div{
  width: 85%;
  margin: auto;
  background-color: white;
  position: relative;
  top: -54px;
  border-radius: 3px;
  text-align: center;
}

.card-image-container{
  margin: 0;
  height: 45%;
}

.card-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title{
  text-align: center;
  font-size: 1.7em;
  padding: 1em;
  margin: 0;
}

.card-description{
  margin: 0;
  padding: 18px;
  padding-top: 0;
  font-size: 1.2em;
  text-align: justify;
  color: #717171;
  font-weight: 600;
  line-height: 1.5em;
}

.card-button{
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 600;
  color: #026fff;
  padding: 0.3em 2.8em;
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  margin: 0.3em 0 1.2em;
}
/*__________Experience*/

/*__________Portfolio and experience container*/
.portfolio-experience-container {
  border-left: 15px solid #026fff;
}

.portfolio-title::before, .experience-title::before {
  content: '';
  display: inline-block;
  width: 0.9em;
  height: 1.3em;
  border-radius: 0 0.65em 0.65em 0;
  background-color: #026fff;
  vertical-align: middle;
  margin-right: 0.8em;
}
/*__________ End Portfolio and experience container*/

/*__________Leo skills */
.skills-container {
  border-left: 15px solid #026fff;
}
.leo-skills {
  display: flex;
  justify-content: space-around;
  background-color: #fafafa;
}

.leo-skills-left, 
.leo-skills-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leo-skills-left div span, 
.leo-skills-right div span {
  height: auto;
  width: auto;
  padding: 8px 10px;
  /* margin: 0 20px; */
  margin-right: 5px;
  color: #fff;
  background-color: #026fff;
  border-radius: 20px;
  font-size: 16px;
}

.leo-skills-left .row-1,
.leo-skills-left .row-3,
.leo-skills-left .row-5,
.leo-skills-right .row-1,
.leo-skills-right .row-3,
.leo-skills-right .row-5
{
    display: inherit;
    justify-content: space-around;
}

.leo-skills-left .row-2,
.leo-skills-left .row-4,
.leo-skills-left .row-6,
.leo-skills-right .row-2,
.leo-skills-right .row-4,
.leo-skills-right .row-6
{
    display: inherit;
    justify-content: center;
}

.leo-skills figure
{
  margin: 0;
  display: inherit;
  padding-top: 10px;
}

.leo-img
{
    height: 500px;
}


/*__________End Leo skils */

/*__________Contact*/
.social-link {
  display: inline-flex;
  font-size: 40px;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.anchor-contact {
  position: absolute;
  /* border: 1px solid red; */
}
.contact{
  background-color: #026fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social{
  height: 61px;
}

.contact h2{
  text-transform: uppercase;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  /* margin-top: 2em; */
}

.contact-left{
  /* padding-left: 5em; */
  margin-bottom: 20px;
}
.contact h2::before {
  content: '';
  display: inline-block;
  width: 0.9em;
  height: 1.3em;
  border-radius: 0 0.65em 0.65em 0;
  background-color: #358cff;
  vertical-align: middle;
  margin-right: 0.8em;
}

.contact-title {
  padding-top: 2em;
  border-left: 15px solid #358cff;
}

.email-box{
  display: block;
  padding: 0.7em 3.8em 0.7em 3em;
  border-radius: 5px;
  border: 1px solid #717171;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: 600;
}

.email-box::placeholder{
  font-family: 'Source Sans Pro', sans-serif;
  color: #717171;
  font-weight: 600;
  font-size: 1em;
}

.email-group{
  position: relative;
}

.form-container {
  padding-top: 1em;
  padding-left: 3.5em;
}

.email-envelope img{
  height: 20px;
  position: absolute;
  left: 17px;
  top: 12px;
  fill: #717171;
}

.send-button{
  margin: 1em;
  margin-left: 0;
  background-color: transparent;
  height: 2.4em;
  width: 8.6em;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.contact-right{
  width: 45%;
  display: flex;
  justify-content: space-around;
  padding-right: 3em;
}
/*_________End Contact*/

/*__________Footer*/
footer{
  background-color: #1d252c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.2em;
  flex-wrap: wrap;
}

.footer-left{
  padding-left: 1em;
}

.footer-left p{
  display: inline-block;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
}

.footer-left img{
  height: 40px;
  vertical-align: middle;
}

.footer-right{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  padding-right: 20px;
  font-size: 1.1em;
}

.footer-right p{
  display: inline-block;
}

.footer-right a{
  color: inherit;
}

.footer-circle{
  display: inline-block;
  height: 0.6em;
  width: 0.6em;
  background-color: white;
  border-radius: 50%;
  margin-left: 0.8em;
  margin-right: 0.8em;
}
/*__________End footer*/

/*____________mobile comenzar con el media Query mas grande*/
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 767px) {
  /* body {
    border: 10px solid green;
  } */

  .burger-button {
    display: block;
  }

  .menu {
    position: fixed;
    background: rgba(12, 96, 217, .9);
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    z-index: 8;
  }

  .menu.is-active {
    left: 0;
  }

  .anchor-portfolio {
    top: -50px;
  }

  .anchor-experience {
    top: -80px;
  }

  .anchor-contact {
    position: relative;
    top: -150px;
  }

  .anchor-space {
    display: block;
    padding-top: 50px;
    background-color: #1d252c;
  }

  .hero-left-container h1 {
    font-size: 2em;
    position: absolute;
    text-shadow: 1px 2px #000;
  }

  .hero-right-container img {
    clip-path: initial;
    /* filter: opacity(20%) blur(1px); */

  }

  .hero-left-container {
    height: 100%;
    width: 0;
  }

  .hero-right-container {
    height: 100%;
    width: 100%;
    
  }

  header {
    height: auto;
    display: block;
  }
  .menu ul {
    display: block;
  }

  .menu li {
    display: block;
  }

  .menu ul li {
    height: 50px;
  }

  .menu li a {
    justify-content: center;
    margin: 30px 0;
    height: 40px;
    font-size: 1.5em;
    text-decoration: underline;
  }

  header .logo {
    text-align: center;
  }

  .project {
    display: block;
  }

  .project div {
    width: 100%;
  }

  .project-left-content {
    width: auto;
    /* font-size: 16px; */
  }

  /* .project-title {
    font-size: 1.5em;
    margin-bottom: .3em;
  }

  .project-stack {
    font-size: 1.2em;
  }

  .project-date {
    font-size: 1em;
  }
  .project-url {
    font-size: 1em;
  }

  .project-description {
    font-size: .8em;
  } */

  /* .project-stack, .project-date, .project-url {
    margin: 0.4em 0;
  } */

  .project-right-content {
    width: auto;
    text-align: center;
  }
  .experience-container {
    display: block;
  }

  .article-card {
    width: 100%;
    height: 100%;
  }

  .card-image-container {
    height: auto;
  }

  .leo-skills {
    display: block;
  }

  .leo-skills-left div span {
    padding: 10px 20px;
    margin: 10px;
  }
  
  .leo-skills-right div span {
    padding: 10px 20px;
    margin: 10px;
  }

  .leo-skills figure {
    text-align: center;
  }

  .footer-right p {
    display: block; 
  }
}

@media screen and (max-width: 480px) {
  .portfolio-title,
  .experience-title {
    font-size: 1.4em;
  }
  .project-left-content {
    font-size: 12px;
  }
  
  .contact {
    display: block;
  }
  
  .email-group, .email-box {
    display: initial;
  }

  .form-container {
    text-align: center;
    padding-left: 0.5em;
  }

  .email-envelope img {
    top: 0;
  }
  
  .contact-right {
    width: auto;
    padding: 0 0 1em 0;
  }

  footer {
    display: block;
    text-align: center;
    /* border: 2px solid transparent; */
    padding: 1em 0;
  }

  .footer-right {
    background-color: #1d252c;
    /* padding: 0; */
  }

  .footer-left p {
    margin: 0;
    /* padding-top: 1em; */
    /* border: 1px solid transparent; */
  }

  .footer-right p {
    margin: 0;
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2em
  }
  .portfolio-title,
  .experience-title,
  .contact-title {
    font-size: 0.9em;
  }
  
}
