/*------------------------------------*\
  #INIT GLOBAL STYLES
\*------------------------------------*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal; /* Es la fuente 400 */
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5em; /* alto de linea 1 es 100% y .5 es el 50% entonces 150%*/
  letter-spacing: -.2px; /* Espaciado un 20% de un pixel menos*/
  color: white;
  margin: 0;
  /* text-transform: uppercase; */
  /* text-decoration: underline; */
}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
/*------------------------------------*\
  #END GLOBAL STYLES
\*------------------------------------*/

/*------------------------------------*\
  #INIT SECTION HERO
\*------------------------------------*/

.hero {
  height: 300px;
  background-image: url('../images/hero.jpg'); /* poner una imagen de background */
  background-color: #1b2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: center;
}

/*------------------------------------*\
  #END SECTION HERO
\*------------------------------------*/

/*------------------------------------*\
  #INIT SECTION PORTFOLIO
\*------------------------------------*/

.portfolio {
  background: #fafafa;
  padding: 20PX;
}

.project {
  /* border-top: 10px solid tomato;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* border-top-color: tomato;
  border-top-width: 15px;
  border-top-style: solid; */
  /* margin: 10px; */
  border: 1px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 50px; */
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: 'Fjalla One', sans-serif;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-datails {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}
/*------------------------------------*\
  #END SECTION PORTFOLIO
\*------------------------------------*/


/*------------------------------------*\
  #INIT SECTION HEADER
\*------------------------------------*/
.header {
  background-color: #1b2127;
  color: white;
  display: flex; /* flexbox */
  height: 70px; /* damos al header un alto fijo de 90px*/
  align-items: center;
  justify-content: space-between; /* para poner los elementos al lado del otro sin espacio*/
}

ol, li {
  margin: 0; /* quitar los margenes de ul y ol*/
  padding: 0; /* quitar los padding de ul y ol*/
  list-style: none; /* para quitar los numeros de la ol */
  display: flex; /* para poner que los elementos se alinen de forma row del display */
  height: inherit; /* hereda el alto de 90px del header */
}

figure {
  margin: 0; /*quitar los margenes a figure*/
}

.menu {
  display: flex; /* para que menu le pueda heredar a ol y a li*/
  height: inherit; /* para que le herede a los ol el ancho de 90px del header*/
}
.header a {
  /* display: block; */
  color: white;
  text-decoration: none;
  display: flex; /* display flex de las anclas */
  align-items: center; /* para que centren los elementos*/
  height: inherit; /* para que los elementos a hereden los 90px */
  padding: 0 10px;
}
/*------------------------------------*\
  #END SECTION HEADER
\*------------------------------------*/

/*------------------------------------*\
  #INIT SECTION EVENTS
\*------------------------------------*/

.event-list {
  display: flex;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 10px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/*------------------------------------*\
  #END SECTION EVENTS
\*------------------------------------*/

/*------------------------------------*\
  #INIT SECTION CONTACTS
\*------------------------------------*/
.contact {
  background: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}
.form-email input {
  border-color: gray;
  border-radius: 5px;
  border-style: solid;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

/*------------------------------------*\
  #END SECTION CONTACT
\*------------------------------------*/


/*------------------------------------*\
  #INIT SECTION FOOTER
\*------------------------------------*/

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}
